<h2>Authors</h2>

<ul>
    {% for author in authors %}
        <li><span>{{ author.name }}</span>
            <div>
                <strong>Author's Genres:</strong>
                {% for genre in author.genre.all %}
                <span>{{ genre.name }}</span>
                {% endfor %}
            </div>
            <div>
                <strong>Author's Books:</strong>
                {% for book in author.books_set.all %}
                <a href="http://{{ request.META.HTTP_HOST }}/books/?genre={{ book.genre }}&author={{ author.name }}"> 
                    {{ book.title }} 
                </a>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}