<h2>Books</h2>

<form action="/books/">
    Genre: <br>
    <input type="text" name="genre"><br>
    Authors: <br>
    <input type="text" name="author"><br>
    <input type="submit" value="Find">
</form>

<ul>
    {% for book in books %}
        <li>
            <span> 
                <a href="/books/details/{{ book.title }}">
                {{ book.title }} 
                </a>
            </span>
            
            {% for genre in book.genre.all %}
            <span>
                {{ genre.name }}
            </span>
            {% endfor %}

            {% for author in book.author.all %}
            <span>
                {{ author.name }}
            </span>
            {% endfor %}
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}